@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

/* nor */
body,
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;

  font-family: 'Roboto', sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
}

.con {
  max-width: 1440px;
  margin: 0 auto;
}

.row::after {
  clear: both;
  display: block;
  content: "";
}

/*cus*/ 


.loader{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  z-index: 888;
  background: url(../img/puzzle-g55f17d56d_1920.png) no-repeat center;
  background-size: cover;

}
.loader>p{
  font-weight: normal;
  font-size: 20px;
  position: absolute;
  bottom: 15%;
  left: 10%;
  /* text-shadow: 5px 5px 5px rgb(107, 107, 107); */

}
.loader>img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 999;
}
.loader>.gif{
  position: absolute;
  top: 50%;
  left: 50%;
}
.loader>.mark{
  position: absolute;
  top: 50%;
  left: 50.2%;
}


.main {display: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.main.active{
display: block;
}

header {
  position: fixed;
  z-index: 100;
  background-color: #fff;
  width: 100%;
  height: 50px;
  border-bottom: 3px solid black;
  box-sizing: border-box;
}

header>.header_box>.logo {
  float: left;
}

header>.header_box>.logo>img {
  width: 60px;
  height: 30px;
  margin-top: 10px;
}

header>.header_box>.menu {
  float: right;
  font-weight: bold;
  width: 700px;
  padding-top: 15px;
}

header>.header_box>.menu>ul {
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 18px;
}

header>.header_box>.menu>ul>li {
  float: left;
  width: 20%;
}

header>.header_box>.menu>ul>li:hover {
  color: #D46F73;
  border-bottom: 2px solid #D46F73;
  box-sizing: border-box;
}


/* banner */

.banner {
  width: 100%;
  position: relative;
}

.banner>img {
  width: 100%;
}

.banner>.banner_puzzle {
  position: absolute;
  top: 0;
}

.banner>.banner_puzzle>.img1 {
  position: absolute;
  top: 100px;
  left: 400px;
  animation: rotate_image 4s linear alternate infinite;
  transform-origin: 50% 50%;
}

.banner>.banner_puzzle>.img2 {
  position: absolute;
  top: 510px;
  left: 350px;
  animation: rotate_image1 3s linear alternate infinite;
  transform-origin: 50% 50%;
}

.banner>.banner_puzzle>.img3 {
  position: absolute;
  top: 360px;
  left: 650px;
  animation: rotate_image2 3s linear alternate infinite;
  transform-origin: 50% 50%;
}

@keyframes rotate_image {
  100% {
    top: 150px;
  }
}

@keyframes rotate_image1 {
  100% {
    top: 450px;
  }
}

@keyframes rotate_image2 {
  100% {
    top: 400px;
    transform: rotate(20deg);
  }
}

/* 포트폴리오 about */

.section01 {
  position: relative;
}

.section01>.about {
  margin-top: 200px;
  font-size: 50px;
}

.section01>div {
  margin-top: 50px;
}

.section01>.pro {

  width: 520px;
  height: 150px;
  margin-top: 95px;
  margin-left: 90px;
}

.section01>.pro>p {
  font-size: 16px;
}

.section01>div>p:nth-child(1) {
  width: 520px;
  height: 30px;
  font-weight: 666;
  font-size: 20px;
  border-bottom: 2px solid #D46F73;
}

.section01>div>p>.span01 {
  position: absolute;
  left: 250px;
}

.section01>.awr {

  margin-left: 90px;
}

.section01>.lic {

  margin-left: 90px;
}

.section01>div>p>.span02 {
  position: absolute;
  left: 600px;
  color: #d46f73;
}

.section01>div>p>.span03 {
  position: absolute;
  left: 720px;
}

.section01>div>p>.span04 {
  position: absolute;
  left: 300px;
  color: #d46f73;
}

.section01>div>p>.span05 {
  position: absolute;
  left: 430px;
}

.section01>img {
  position: absolute;
  top: 150px;
  left: 1050px;
}

/* about 끝 */

/* 포트폴리오 skill */

.section02 {
  position: relative;
}

.section02>.box {
  margin-top: 200px;
  width: 100%;
}

.section02>.box>img {
  width: 100%;
}

.section02>.ski_box>.skill {
  font-size: 50px;
  color: #fff;
  position: absolute;
  top: 0px;
}

.section02>.ski_box>.ski {
  font-size: 20px;
  position: absolute;
  top: 200px;
  color: #fff;
  margin-left: 90px;
}

.section02>.ski_box>.ski>p {
  margin-top: 50px;
}

/* 막대그래프 */

.section02>.ski_box>.line_box {
  position: absolute;
  top: 200px;
  margin-left: 250px;
}

.section02>.ski_box>.line_box>.line {
  width: 445px;
  height: 25px;
  background-color: rgb(255, 255, 255);
  margin-top: 50px;

}

.section02>.ski_box>.line_box>.line>span {

  display: block;
  height: 25px;
  line-height: 25px;
  text-align: right;
  background-color: #D46F73;
  color: #fff;
  font-weight: 333;
  padding-right: 10px;
  box-sizing: border-box;
}

.section02>.ski_box>.line_box>.line1>span {
  width: 90%;
  animation: stack1 6s infinite;
}

.section02>.ski_box>.line_box>.line2>span {
  width: 90%;
  animation: stack2 6s infinite;
}

.section02>.ski_box>.line_box>.line3>span {
  width: 80%;
  animation: stack3 6s infinite;
}

.section02>.ski_box>.line_box>.line4>span {
  width: 85%;
  animation: stack4 6s infinite;
}

.section02>.ski_box>.line_box>.line5>span {
  width: 85%;
  animation: stack5 6s infinite;
}

.section02>.ski_box>.line_box>.line6>span {
  width: 65%;
  animation: stack6 6s infinite;
}

@keyframes stack1 {
  0% {
    width: 0;
    color: rgba(255, 255, 255, 0);

  }

  100% {
    width: 90%;
    color: rgba(255, 255, 255, 1);

  }
}

@keyframes stack2 {
  0% {
    width: 0;
    color: rgba(255, 255, 255, 0);

  }

  100% {
    width: 90%;
    color: rgba(255, 255, 255, 1);

  }
}

@keyframes stack3 {
  0% {
    width: 0;
    color: rgba(255, 255, 255, 0);

  }

  100% {
    width: 80%;
    color: rgba(255, 255, 255, 1);

  }
}

@keyframes stack4 {
  0% {
    width: 0;
    color: rgba(255, 255, 255, 0);

  }

  100% {
    width: 85%;
    color: rgba(255, 255, 255, 1);

  }
}

@keyframes stack5 {
  0% {
    width: 0;
    color: rgba(255, 255, 255, 0);

  }

  100% {
    width: 85%;
    color: rgba(255, 255, 255, 1);

  }
}

@keyframes stack6 {
  0% {
    width: 0;
    color: rgba(255, 255, 255, 0);

  }

  100% {
    width: 65%;
    color: rgba(255, 255, 255, 1);

  }
}

/* 그래프 끝 */

.section02>.ski_box>.cube {
  position: absolute;
  top: 200px;
  margin-left: 750px;
  animation: cube 2s infinite alternate;

}

@keyframes cube {
  0% {
    top: 20px;
  }

  100% {
    top: 80px;
    transform: rotate(10deg);
  }
}

/* skill  끝 */

/* work 시작 */

.section03 {
  background-color: #fff;
}

.section03>p {
  font-size: 50px;
  margin-top: 200px;
}

.section03>p>span {
  font-size: 20px;

}

.slide_box_wrap {
  width: 1440px;
  height: 800px;
  overflow: hidden;
}

.slide_box_wrap>.slide_box {
  width: 1440px;
  height: 800px;
  position: relative;
  top: 0px;
  transition: 2s;
}

.slide_box_wrap>.slide_box>.slide {
  width: 100%;
  height: 700px;
}

.slide_box_wrap>.slide_box>.slide1 {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide_box_wrap>.slide_box>.slide1>.png1 {
  position: absolute;
  top: 350px;
  left: 50px;
}

.slide_box_wrap>.slide_box>.slide1>.mokup_box {
  position: absolute;
  top: 50px;
  right: 0;
}

.slide_box_wrap>.slide_box>.slide1>.mokup_box>img {
  width: 100%;
  display: block;
}

.slide_box_wrap>.slide_box>.slide1>.site_cap {
  position: absolute;
  top: 21%;
  left: 45.5%;
  width: 495px;
  height: 279px;
  overflow: hidden;
}

.slide_box_wrap>.slide_box>.slide1>.site_cap>img {
  width: 100%;
  display: block;
}

.slide_box_wrap>.slide_box>.slide1>.site_cap:hover>.site_animate {

  animation-play-state: paused;
}

.site_animate {
  animation: scrollUP 8s infinite;
}

@keyframes scrollUP {
  0% {
    transform: translateY(0);

  }

  100% {

    transform: translateY(-45.5%);
  }
}


.slide_box_wrap>.slide_box>.slide1>ul {
  width: 141px;
  height: 40px;
  border: 2px solid #0100C8;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
}

.slide_box_wrap>.slide_box>.slide1>ul:hover {
  background-color: #0100c8;
  color: #fff;
  transition: 1s;
}

.slide_box_wrap>.slide_box>.slide1>.pro1 {
  position: absolute;
  top: 190px;
  left: 150px;
}

.slide_box_wrap>.slide_box>.slide1>.view1 {
  position: absolute;
  top: 280px;
  left: 150px;
}

.slide_box_wrap>.slide_box>.slide1>.one {
  font-size: 14px;
  position: absolute;
  top: 190px;
  left: 350px;

}

.slide_box_wrap>.slide_box>.slide1>.two {
  font-size: 14px;
  position: absolute;
  top: 280px;
  left: 350px;

}

/* slide 2 */


.slide_box_wrap>.slide_box>.slide2 {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide_box_wrap>.slide_box>.slide2>.png2 {
  position: absolute;
  top: 350px;
  left: 50px;
}

.slide_box_wrap>.slide_box>.slide2>.mokup_box2 {
  position: absolute;
  top: 50px;
  right: 0;
}

.slide_box_wrap>.slide_box>.slide2>.mokup_box2>img {
  width: 100%;
  display: block;
}

.slide_box_wrap>.slide_box>.slide2>.site_cap2 {
  position: absolute;
  top: 21%;
  left: 45.5%;
  width: 495px;
  height: 279px;
  overflow: hidden;
}

.slide_box_wrap>.slide_box>.slide2>.site_cap2>img {
  width: 100%;
  display: block;
}

.slide_box_wrap>.slide_box>.slide2>.site_cap2:hover>.site_animate {

  animation-play-state: paused;
}

.site_animate {
  animation: scrollUP 8s infinite;
}

@keyframes scrollUP {
  0% {
    transform: translateY(0);

  }

  100% {

    transform: translateY(-81%);
  }
}


.slide_box_wrap>.slide_box>.slide2>ul {
  width: 141px;
  height: 40px;
  border: 2px solid #000;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
}

.slide_box_wrap>.slide_box>.slide2>ul:hover {
  background-color: #000;
  color: #fff;
  transition: 1s;
}

.slide_box_wrap>.slide_box>.slide2>.pro2 {
  position: absolute;
  top: 190px;
  left: 150px;
}

.slide_box_wrap>.slide_box>.slide2>.view2 {
  position: absolute;
  top: 280px;
  left: 150px;
}

.slide_box_wrap>.slide_box>.slide2>.three {
  font-size: 14px;
  position: absolute;
  top: 190px;
  left: 350px;

}

.slide_box_wrap>.slide_box>.slide2>.four {
  font-size: 14px;
  position: absolute;
  top: 280px;
  left: 350px;

}

/* slide 3 */


.slide_box_wrap>.slide_box>.slide3 {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide_box_wrap>.slide_box>.slide3>.png3 {
  position: absolute;
  top: 100px;
  left: 100px;
}

.slide_box_wrap>.slide_box>.slide3>.mokup_box3 {
  position: absolute;
  top: 50px;
  right: 0;
}

.slide_box_wrap>.slide_box>.slide3>.mokup_box3>img {
  width: 100%;
  display: block;
}

.slide_box_wrap>.slide_box>.slide3>.site_cap3 {
  position: absolute;
  top: 21%;
  left: 45.5%;
  width: 495px;
  height: 279px;
  overflow: hidden;
}

.slide_box_wrap>.slide_box>.slide3>.site_cap3>img {
  width: 100%;
  display: block;
}



.slide_box_wrap>.slide_box>.slide3>.pro3 {
  position: absolute;
  top: 110px;
  left: 650px;
  font-size: 18px;
}

/* 포폴 콘텍트 영역 */

footer {
  width: 100%;
  position: relative;
  top: 200px;
}

footer>.video_box {
  width: 100%;
}

footer>.video_box>.video_test {
  width: 100%;
}

footer>.contact_box {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}

footer>.contact_box>.icon_box {
  position: relative;
  width: 100%;
  height: 970px;
}

footer>.contact_box>.icon_box>li {
  font-size: 48px;
  text-align: right;
  color: #fff;
  font-weight: 333;
}

footer>.contact_box>.icon_box>li:hover {
  color: #d46f73;
}

footer>.contact_box>.icon_box>li:nth-child(1) {
  position: absolute;
  right: 0;
  bottom: 370px;
}

footer>.contact_box>.icon_box>li:nth-child(2) {
  position: absolute;
  right: 3px;
  bottom: 290px;
}

footer>.contact_box>.icon_box>li:nth-child(3) {
  position: absolute;
  right: 0px;
  bottom: 210px;
}

footer>.contact_box>.icon_box>li:nth-child(4) {
  position: absolute;
  right: 10px;
  bottom: 130px;
  cursor: pointer;
  width: 500px;
}

footer>.contact_box>.icon_box>li:nth-child(5) {
  position: absolute;
  right: 0px;
  bottom: 50px;
  cursor: pointer;
}

footer>.contact_box>.icon_box>li>.phone {
  font-size: 18px;
  position: absolute;
  top: 30px;
  right: 70px;
  cursor: pointer;
}

footer>.contact_box>.icon_box>li>.mail {
  font-size: 18px;
  position: absolute;
  top: 25px;
  right: 80px;
  cursor: pointer;
}

footer>.last>img {
  position: absolute;
  top: 20%;
  left: 48.5%;
  animation: lastimg 3s infinite alternate;
}

@keyframes lastimg {
  0% {
    top: 180px;
  }

  50% {
    top: 250px;
  }

  100% {
    top: 420px;
  }
}

footer>.last>.line {
  width: 2px;
  height: 180px;
  background-color: #fff;
  position: absolute;
  top: 30%;
  left: 51.2%;
}

footer>.last>a>p {
  color: #fff;
  font-size: 20px;
  font-weight: 555;
  position: absolute;
  top: 50%;
  left: 49.5%;
  text-shadow: 3px 5px 4px rgb(75, 75, 75);
}

footer>.last>a>p:hover {
  color: #d46f73;
}
footer>.last>p{
  text-shadow: 3px 5px 4px rgb(65, 65, 65);
  font-weight: normal;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 60%;
  left: 40%;
}